h2::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 5vw;
    height: 5px;
    background: var(--title-color);
  }
  


h3{
    font-size: 1.5em;
}




header {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000000000;
}

header img {
    max-width: 200px;
}

header a+a {
    margin-left: 2vw;
}

header a {
    color: var(--paragraphs-color);
    font-size: 14px
}

header a span {
    font-size: 18px;
    position: relative;
}

header a span::before {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--primary_normal);
    position: absolute;
    bottom: -5px;
    left: 0;
}


.bar {
    width: 30px;
    height: 20px;
    z-index: 100000;
    display: none;
}

.bar div {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: var(--primary_normal);
    transition: .3s;
}

.bar div {
    margin-bottom: 5px;
}

.activeBars .top {
    transform: rotate(-45deg) translate(-11px, 11px);
}

.activeBars .middle {
    transform: translateX(-20px);
    opacity: 0;
}

.activeBars .bottom {
    transform: rotate(45deg);
}

.activeNav {
    transform: translateX(0);
}


@media (max-width: 800px) {
    .bar{
        display: block;
    }

    nav {
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        background: rgb(24, 24, 24);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
        transform: translateX(-100%);
        transition: .3s;
    }


    header a {
        font-size: 16px;
        color: #fff;
    }

    header a span {
        font-size: 20px;
    }

    header svg{
        display: none;
    }
}



.headline{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.headline .btn-primary{
    margin-top: 2vh;
    font-weight: 500;
}

.headline h1{
    font-weight: 700;
}

.headline svg{
    max-width: 50px;
}

@media(max-width: 800px){
    .headline h1, .headline p{
        text-align: center;
    } 
}





.theCourse{
    align-items: flex-start;
    gap: 5vh;
}

.theCourse p{
    max-width: 70%;
    margin-bottom: 15px;
}

.theCourse .centerText{
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: var(--title-color);
    font-size: var(--title-fontSize);
    letter-spacing: var(--title-letterSpacing);
    line-height: 7vh;
    margin-top: 5vh;
}


.popupWrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.459);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000000000;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;
    visibility: hidden;
    animation: smoothApear .5s forwards;
    overflow: scroll;
  }
  
  .popup{
    width: 95vw;
    height: 95vh;
    background-color: var(--background-light);
    border-radius: var(--borderRadius);
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    overflow-x: hidden;
    overflow-y: visible;
    animation: fadeDown .8s .4s forwards;
    opacity: 0;
  }
  
  .popup::-webkit-scrollbar-track{
    background: #070c0e00;
    border-radius: 30px;
  }
  
  .popupCloser{
    max-width: 35px;
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 1000000;
  }
  
  .popup h3{
    color: #562EED;
    font-size: 50px;
  }
  
  .popup .img-text{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .img-text + .img-text{
    margin-top: 10vh;
  }
  
  .popup .img-text .left{
    justify-content: center;
    align-items: flex-start;
    gap: 3vh;
  }
  
  .popup .img-text  h4{
    color: var(--primary_dark);
    font-size: 38px;
    font-weight: 900;
  }
  
  .popup .img-text  img{
    height: 100%;
    max-height: 80vh;
    object-fit: cover;
  }
  
  .popup .img-text .right:has(img){
    align-items: flex-start;
  }
  
  .popup .img-text .right .ebookImg{
    transform: translateX(0);
  }
  
  .popup .img-text  .right img{
    transform: translateX(15%);
  }
  
  .popup .inverter .right img{
    transform: translateX(-25%) ;
  }

@media(max-width: 800px){
    .theCourse p{
        max-width: 100%;
    }
    .theCourse .centerText{
        font-weight: 600;
        line-height: 6vh;
    }
}






.grade{
    flex-direction: column;
    align-items: flex-start;
}







.investmentCard{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #FFF;
    flex-direction: column;
    gap: 5vh;
    background-color: #FFF;
    width: 100%;
    padding: 5vh;
}

.investmentCard h2::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: calc(50% - 4vw);
    width: 8vw;
    height: 3.5px;
    background: var(--title-color);
}

.investmentCard .btnWhats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    gap: 20px;
    border-radius: 50px;
    background: linear-gradient(90deg, #41C452 0%, #58D164 100%);
    border: none;
}

.investmentCard p + p{
    margin-top: -40px ;
}

.investmentCard .btnWhats p{
    color: #fff;
}


.investmentCard .btnWhats img{
    max-width: 30px;
    border-radius: 0;
}

@media(max-width: 800px){

    .investmentCard{
        padding: 4vh 2vh;
    }
    .investmentCard p{
        text-align: center;
    }
    .investmentCard .btnWhats{
        width: 100%;
        justify-content: center;
    }
    .investmentCard .btnWhats p{
        font-size:0.98em;
    }
}






.ebook .left{
    gap: 3vh;
}

.ebook .btnEbook{
    color: #2e00b9;
    font-weight: 500;
    padding: 10px 30px;
    font-size: 1.3em;
    border: #2e00b9 solid 2px;
    border-radius: 10px;
}

.ebook .right img{
    width: 60%;
}

@media (max-width: 800px)  {
    .ebook .right{
        align-items: center !important;
    }
}








.areaExplain{
    align-items: flex-start;
    gap: 5vh;
}

.areaExplain .contents{
    padding: 0;
}

.areaExplain .contents img{
    max-width: 80%
}





.faqSection{
    align-items: flex-start;
    gap: 5vh;
}

.faqContainer{
    width: 100%;
}

.faqContainer .quest{
    padding: 20px 0;
    border-bottom: 2px solid var(--primary_normal);
    cursor: pointer;
}

.faqContainer .quest p{
    font-size: 20px;
}

.faqContainer .quest span{
    font-weight: 700;
}

.faqContainer .answer{
    cursor: default;
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    transition: max-height 0.2s ease-out;
}

.activeAnswer{
    border-bottom: 2px solid var(--primary_normal);
    transition: padding .5s ease-out;
}

@media (max-width: 800px) {
    .grid2 .left, .grid2 .right, .inverter .left, .inverter .right{
        align-items: flex-start;
    }

    .areaExplain .contents img{
        max-width: 100%;
    }

    .popup .img-text{
        gap: 5vh;
        grid-template-columns: 1fr;
      }
    
      .popup .img-text .right:has(img){
        align-items: center;
      }
    
      .popup .img-text .right img{
        max-width: 100%;
        height: auto;
        transform: translateX(0)
      }
    
      .inverter .left{
        order: 1;
      }
    
      .inverter .right{
        order: 2;
      }
    
      .popupCloser{
        top: 30px;
        right: 30px;
      }
}